.containerProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 90px 0;
  background-color: #0a0d13;
  gap: 80px;

  .boxProjetos {
    display: grid;
    width: 90%;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);

    .boxPro {
      cursor: pointer;
      .boxButton {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scaleY(0);
        border-radius: 0 0 25px 25px;
        background-color: #161e2b;
        padding: 10px 0;

        button {
          cursor: pointer;
          padding: 5px 10px;
          border-radius: 25px;
          border: none;
          background-color: transparent;
          color: #fff;
          font-size: 16px;
        }
      }

      &:hover {
        z-index: 99;
        transform: scale(1.15);

        .boxButton {
          transform: scaleY(1);
          transition-delay: 0.2s;
        }

        .content {
          display: none;
        }
      }
    }

    .projeto {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 5px;
      border-bottom: 3px solid #00d2df;

      .imgProjeto {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }

      .content {
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        position: absolute;
        gap: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);

        h3 {
          color: #fff;
          font-size: 1.3rem;
          font-weight: 500;
          letter-spacing: 0.5px;
          text-shadow: 1px 1px 1px #00d2df;
          text-align: center;
        }

        .boxSkills {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
          }
        }
      }
    }
  }

  .buttonMorePorjects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    background: linear-gradient(
      200deg,
      #bffeeb 0,
      #abf7e7 10%,
      #94efe4 20%,
      #78e7e2 30%,
      #54dde0 40%,
      #00d2df 50%,
      #00c7df 60%,
      #00bce0 70%,
      #00b2e2 80%,
      #00a9e5 90%,
      #00a0e8 100%
    );
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }

    &:active {
      transform: scale(1);
      opacity: 0.6;
    }
  }
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: 999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #0d1117;
  box-shadow: 0 0 10px #00d2df;
  border-radius: 20px;
  padding: 30px;
  width: 70%;
  min-height: 70%;
  display: flex;
  gap: 30px;
  max-height: 95%;
  overflow: auto;

  /* SCROLL */
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  /* END SCROLL */

  .containerLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 140%;

    .imgModal {
      width: 100%;
      border-radius: 5px;
    }

    .boxButtonProject {
      display: flex;
      justify-content: space-around;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 180px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 500;
        background: linear-gradient(
          200deg,
          #bffeeb 0,
          #abf7e7 10%,
          #94efe4 20%,
          #78e7e2 30%,
          #54dde0 40%,
          #00d2df 50%,
          #00c7df 60%,
          #00bce0 70%,
          #00b2e2 80%,
          #00a9e5 90%,
          #00a0e8 100%
        );
        cursor: pointer;
      }
    }
  }

  .containerRight {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;

    .boxTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 24px;
        text-shadow: 1px 1px 2px #00d2df;
      }

      button {
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 22px;

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }

    .description {
      font-size: 16px;
      line-height: 22px;
    }

    .techSkills {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .containerProjects {
    .boxProjetos {
      .boxPro {
        .boxButton {
          padding: 5px 0;

          button {
            font-size: 14px;
          }
        }
      }
      .projeto {
        .content {
          h3 {
            font-size: 1.1rem;
          }

          .boxSkills {
            img {
              width: 17px;
            }
          }
        }
      }
    }
  }

  .modal {
    .containerLeft {
      gap: 20vh;
      justify-content: center;
      width: 120%;

      .boxButtonProject {
        justify-content: space-between;

        button {
          width: 150px;
          font-size: 13px;
        }
      }
    }

    .containerRight {
      gap: 30px;

      .boxTitle {
        h3 {
          font-size: 22px;
        }
      }

      .description {
        font-size: 14px;
        line-height: 20px;
      }

      .techSkills {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .containerProjects {
    .boxProjetos {
      grid-template-columns: repeat(2, 1fr);

      .projeto {
        .content {
          h3 {
            font-size: 1.3rem;
          }

          .boxSkills {
            img {
              width: 20px;
            }
          }
        }
      }
    }
  }

  .modal {
    width: 85%;
    .containerLeft {
      gap: 20vh;
      justify-content: center;
      width: 120%;

      .boxButtonProject {
        justify-content: space-between;

        button {
          width: 150px;
          font-size: 13px;
        }
      }
    }

    .containerRight {
      gap: 30px;

      .boxTitle {
        h3 {
          font-size: 22px;
        }
      }

      .description {
        font-size: 14px;
        line-height: 20px;
      }

      .techSkills {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .containerProjects {
    .boxProjetos {
      grid-template-columns: repeat(1, 1fr);
      gap: 60px;

      .boxPro {
        &:hover {
          transform: scale(1.05);
        }
        cursor: pointer;
        .boxButton {
          transform: scaleY(1);
        }
      }
      .projeto {
        .content {
          .boxSkills {
            img {
              width: 22px;
            }
          }
        }
      }
    }
  }

  .modal {
    width: 90%;
    // max-height: 95%;
    overflow: auto;
    padding: 20px;
    gap: 25px;
    flex-direction: column-reverse;
    justify-content: none;

    // /* SCROLL */
    // &::-webkit-scrollbar {
    //   width: 7px;
    // }
    // &::-webkit-scrollbar-track {
    //   background-color: transparent;
    // }
    // &::-webkit-scrollbar-thumb {
    //   border-radius: 5px;
    // }
    // /* END SCROLL */

    .containerLeft {
      gap: 30px;
      width: 100%;

      .boxButtonProject {
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }

    .containerRight {
      gap: 20px;
      justify-content: space-around;

      .boxTitle {
        h3 {
          font-size: 24px;
        }
      }

      .description {
        font-size: 16px;
        line-height: 20px;
      }

      .techSkills {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 16px;
      }
    }
  }
}
